[influxdb]
host=<HOST>
port=80
username=admin
password=<INFLUX_PASS>
db=keenetic
[keenetic]
admin_endpoint=http://192.168.1.1:80
skip_auth=false
login=admin
password=<KEENETIC_PASS>
[collector]
interval_sec=30
