{
  "influxdb": {
    "enable": false,
    "host": "<HOST>",
    "port": 80,
    "username": "admin",
    "password": "<PASS>",
    "db": "keenetic"
  },
  "influxdb2": {
    "enable": true,
    "token": "<TOKEN>",
    "org": "<ORG>",
    "uri": "<http://influx.local:8086>",
    "bucket": "<BUCKET>"
  }
}